body {
  font-family: "Titillium Web", sans-serif;
}

header {
  background-color: #FF1E00;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container {
  margin-top: auto;
  margin-bottom: auto;
  align-self: center;
}

.hamburger-menu {
  display: none;
}
.hamburger-menu img {
  width: 50px;
  height: 50px;
}
.hamburger-menu:focus {
  outline: none;
}

@media (max-width: 850px) {
  .hamburger-menu {
    display: block;
    background: #FFFFFF;
    border-color: #FFFFFF;
    border-radius: 100px;
  }
  .menu {
    display: none;
  }
}
@media (min-width: 850px) {
  .hamburger-menu:focus + .menu,
  .menu.show {
    display: inline;
  }
  .nav-bar {
    align-self: center;
  }
}
.show {
  display: grid;
}

.screen-header {
  padding-left: 2.5%;
}

.view-cart {
  display: flex;
  position: relative;
  align-self: center;
  justify-content: center;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
  border-radius: 100px;
  padding-left: 6%;
  padding-right: 6%;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 90%;
  width: 80px;
  cursor: pointer;
}
.view-cart img {
  width: 50px;
  height: 50px;
}
.view-cart:focus {
  outline: none;
}
.view-cart:hover {
  text-decoration: none;
}

.quantity-line {
  display: flex;
  flex-direction: row;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
}

.remove-one {
  margin-right: 10%;
  background-color: #f5f5f5;
  border-radius: 100px;
  padding: 5%;
  font-size: 20px;
}
.remove-one:focus {
  outline: none;
}

.add-one {
  margin-left: 10%;
  background-color: #f5f5f5;
  border-radius: 100px;
  padding: 5%;
  font-size: 20px;
}
.add-one:focus {
  outline: none;
}

.cart-counter {
  color: #000000;
  padding-left: 5%;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.nav-bar-link {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 18pt;
  margin: 0 10px;
  padding: 10px;
  position: relative;
}
.nav-bar-link.active {
  background-color: #000000;
  color: #FF1E00;
}
.nav-bar-link:hover {
  background-color: #000000;
  color: #FFFFFF;
  border-radius: 10px;
}

#search-bar {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 2.5%;
}

#search-input {
  box-shadow: none;
  border-color: transparent;
}

#search-bar-button {
  background-color: #f5f5f5;
  color: #000000;
}
#search-bar-button:hover {
  background-color: #000000;
  color: #FFFFFF;
}

.add-to-cart {
  background-color: #FF1E00;
  display: inline-block;
  padding: 10px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}
.add-to-cart:focus {
  outline: none;
}

.remove-from-cart {
  background-color: #000000;
  display: inline-block;
  padding: 10px;
  font-weight: 600;
  color: #FFFFFF;
  border-radius: 15px;
  border-style: none;
  cursor: pointer;
}
.remove-from-cart:focus {
  outline: none;
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 10px;
}
.items-list ol {
  width: 50%;
  margin: 10;
  max-width: 250px;
  padding: 20px;
  display: grid;
  justify-content: center;
  text-align: center;
}
.items-list ol button {
  margin-top: 5%;
}
.items-list ol img {
  max-width: 80%;
}
.items-list ol:hover {
  transform: scale(1.1);
  opacity: 100%;
}
.items-list ol:not(:hover) {
  opacity: 90%;
}

.totalPrice {
  margin-left: 70%;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}

nav {
  padding-right: 5%;
}

table {
  width: 95%;
}

td, th {
  height: 50px;
  padding-left: 10px;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

.content-not-found p {
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  margin-top: 2.5%;
}
.content-not-found img {
  max-width: 100%;
}

footer {
  background-color: #FF1E00;
  color: #FFFFFF;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 42pt;
  line-height: 1.2;
}

h2 {
  font-size: 32pt;
  line-height: 1.2;
}

p {
  font-size: 12pt;
  line-height: 1.5;
}

/*# sourceMappingURL=styles.css.map */
