$f1-red: #FF1E00;
$f1-white: #FFFFFF;
$f1-black: #000000;
$f1-grey: #f5f5f5;

body {
  font-family: 'Titillium Web', sans-serif; }

header {
  background-color: $f1-red;
  color: $f1-white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  // align-items: center;
  // justify-items: center;
  justify-content: center;
  // position: relative;
  overflow: hidden;
}

.logo-container {
  margin-top: auto;
  margin-bottom: auto; 
  align-self: center;
}

.hamburger-menu {
  display: none;
  img {
    width: 50px;
    height: 50px;
  }
  &:focus {
    outline: none;
  }
}

@media (max-width: 850px) {
  .hamburger-menu {
    display: block;
    background: $f1-white;
    border-color: $f1-white;
    border-radius: 100px;
    &:focus {
      outline: none;
    }
  }

  .menu {
    display: none;
  }
}
  
@media (min-width: 850px) {
  .hamburger-menu:focus + .menu,
  .menu.show {
    display: inline;
  }
  .nav-bar {
    align-self: center;
  }
}

.screen-header {
  padding-left: 2.5%;
}

.view-cart {
  display: flex;
  position: relative;
  align-self: center;
  align-items: center;
  justify-content: center;
  background-color: $f1-white;
  border-color: $f1-white;
  border-radius: 100px;
  margin-top: 1%;
  margin-right: 10%;
  margin-left: 90%;
  width: 80px;
  img {
    width: 50px;
    height: 50px;
  }
  &:focus {
    outline: none;
  }
}

.nav-bar-link {
  color: $f1-white;
  text-decoration: none;
  font-size: 18pt;
  margin: 0 10px;
  padding: 10px;
  position: relative; 
  &.active {
    background-color: $f1-black;
    color: $f1-red; 
  }
  &:hover {
    background-color: $f1-black;
    color: $f1-white;
    border-radius: 10px; 
  }
}

.add-to-cart {
    background-color: $f1-red;
    display: inline-block;
    padding: 10px;
    font-weight: 600;
    color: $f1-white;
    border-radius: 15px; 
    border-style: none;
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.items-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  padding-right: 20px;
  padding-bottom: 10px;
  ol {
    width: 50%;
    margin: 10;
    max-width: 250px;
    padding: 20px;
    display: grid;
    justify-content: center;
    text-align: center; 
    button {
        margin-top: 5%;
    }
    img {
      max-width: 80%;
    }
    &:hover {
      transform: scale(1.1);
      opacity: 100%; 
    }
    &:not(:hover) {
      opacity: 90%;
    }
  }
}

nav {
  padding-right: 5%;
}

table {
  width: 95%;
}

td, th {
  height: 50px;
  padding-left: 10px;
}

tr {
  &:nth-child(even) {
    background-color: $f1-grey;
  }
}


.content-not-found {
  p {
    font-size: 32px;
    font-weight: 200;
    text-align: center; 
    margin-top: 2.5%;
  }
  img {
    max-width: 100%;
  }
}

footer {
  background-color: $f1-red;
  color: $f1-white;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

h1 {
  font-size: 42pt;
  line-height: 1.2; 
}

h2 {
  font-size: 32pt;
  line-height: 1.2; 
}

p {
  font-size: 12pt;
  line-height: 1.5; 
}
